.card-frist-hero {
     position: relative;
}
.card-frist-hero .card-hero {
     position: absolute;
     bottom: 0;
     right: 0;
     left: 0;
}
.card-hero h3 {
     font-size: 24px;
     color: #fff;
}
.card-hero p {
     font-size: 15px;
     color: #fff;
     margin-bottom: 0 !important;
     text-transform: lowercase;
}
.second-hero h1 {
     color: #052249;
     font-weight: bold;
     font-size: 48px;
}

.second-hero .box-title .date {
     font-size: 18px;
     color: #fd5672;
}
.second-hero .box-title h3 {
     font-size: 24px;
     color: #052249;
}
.second-hero .text-hero {
     font-size: 18px;
     color: #8b8e92;
}
.box-title a {
     font-size: 18px;
     color: #fd5672;
}