@import "./nav.css";
@import "./hero.css";



*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}
body{
     font-family: "Open Sans", sans-serif;
     font-optical-sizing: auto;
}
a{
     text-decoration: none;
}