.ul-nav{
     list-style: none;
     gap: 30px;
     padding-left: 0 !important;
     margin-bottom: 0 !important;
}
.ul-nav a {
     font-size: 18px;
     letter-spacing: 0.5px;
     font-weight: 600;
     color: #052249;
}
.ul-nav .brand {
     color: #fd5672;
}
.second .logo {
     font-size: 25px;
     font-weight: 900;
     color: #fd5672;
}
.third .search-box {
     border: 1px solid #8b8e92;
     border-radius: 10px;
     padding: 10px;
}
.third .search-box .input-nav{
     border: none !important;
}
.third .search-box .input-nav:focus{
     outline: none !important;
}
.third .search-box .button-nav {
     border-radius: 10px;
     background-color: #fd5672;
     color: #fff;
     padding: 6px 10px;
     border: none;
}
@media (width < 830px){
     .logo {
          display: none;
     }
}
@media (width < 801px){
     .header {
          display: none;
     }
}
.navbar-toggler:focus {
     text-decoration: none;
     outline: 0;
     box-shadow: none;
}
.navbar-toggler {
     padding: 0px !important;
     border: none !important;
     border-radius: none !important;
 }
 .fa-bars {
     font-size: 20px;
     color: #fd5672;
 }
 .second-responsive {
     margin-top: -5px;
}
 .second-responsive .logo-responsive {
     font-size: 20px;
     font-weight: 900;
     color: #fd5672;
}
.fa-magnifying-glass,
.fa-xmark {
     font-size: 20px;
     color: #fd5672;
}
.offcanvas.offcanvas-end {
     border-left: var(--bs-offcanvas-border-width) solid #fd567223;
 }
.button-close {
     background-color: transparent;
     border: none !important;
}
.nav-item a {
     font-size: 18px;
     letter-spacing: 0.5px;
     font-weight: 600;
     color: #052249;
}
.nav-item .brand {
     color: #fd5672;
}
 @media (width > 801px){
     .header-responsive {
          display: none;
     }
}